.background-img-appear, .background-img-enter {
  opacity: 0;
}
.background-img-appear-active, .background-img-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.background-img-exit {
  opacity: 1;
}
.background-img-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}
