@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bg-img-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: 0.5s ease fadeIn;
}

/* BuySellAds Ad Zone Styles */
/* Zone 1: bsa-zone_1754918740585-0 */
@media only screen and (min-width: 0px) and (min-height: 0px) {
  div[id^='bsa-zone_1754918740585-0'] {
    min-width: 300px;
    min-height: 50px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 880px) and (min-height: 0px) {
  div[id^='bsa-zone_1754918740585-0'] {
    min-width: 250px;
    min-height: 250px;
    margin-bottom: 30px;
  }
}

/* Zone 2: bsa-zone_1755538933410-5 */
@media only screen and (min-width: 0px) and (min-height: 0px) {
  div[id^='bsa-zone_1755538933410-5'] {
    min-width: 300px;
    min-height: 50px;
    margin-bottom: 130px;
  }
}

@media only screen and (min-width: 880px) and (min-height: 0px) {
  div[id^='bsa-zone_1755538933410-5'] {
    min-width: 250px;
    min-height: 250px;
    margin-bottom: 150px;
  }
}

/* Zone 3: bsa-zone_1754918586325-1 */
@media only screen and (min-width: 0px) and (min-height: 0px) {
  div[id^='bsa-zone_1754918586325-1'] {
    min-width: 300px;
    min-height: 50px;
  }
}

@media only screen and (min-width: 880px) and (min-height: 0px) {
  div[id^='bsa-zone_1754918586325-1'] {
    min-width: 468px;
    min-height: 60px;
  }
}
