.hoverable {
  border: 1px solid transparent;
  transition: 0.3s;
  width: 75px;
  height: 75px;
}

.hoverable img {
  width: 75px;
  height: 75px;
}

.hoverable:hover {
  width: 81px;
  height: 81px;
  border: 3px solid #ccc;
  margin-bottom: -5px;
}
